header {
  background-color: var(--bg);
  height: var(--header-height);
  display: grid;
  grid-template-columns: auto auto 1fr auto auto;
  align-items: center;
  column-gap: 4rem;
  padding: 0 4rem;
  font-size: 1.5rem;
}

#header-search {
  display: grid;
  grid-template-columns: 1fr auto;
  margin: 0 15vw;
  border: 1px solid var(--border);
  border-radius: 1rem;
  overflow: hidden;
  height: 3rem;
}
#header-search:has(#header-search-input:focus) {
  border: 2px solid var(--highlight);
}
#header-search-button {
  height: 3rem;
  border: none;
  border-left: 1px solid var(--border);
  border-radius: 0;
}
#header-search-icon {
  height: 70%;
  color: var(--color);
}
#header-search-input {
  font-size: 1.5rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0;
}

.header-nav-link {
  color: var(--text);
  text-decoration: none;
}
.header-nav-link.active {
  text-decoration: underline;
}