header {
  background-color: var(--bg);
  height: var(--header-height);
  display: grid;
  grid-template-columns: auto auto 1fr auto auto;
  align-items: center;
  column-gap: 4rem;
  padding: 0 4rem;
  font-size: 1.5rem;
}

#header-search {
  display: grid;
  grid-template-columns: 1fr auto;
  margin: 0 15vw;
  border: 1px solid var(--border);
  border-radius: 1rem;
  overflow: hidden;
}
#header-search:has(#header-search-input:focus) {
  border: 2px solid var(--highlight);
}
#header-search-button {
  border: none;
  border-left: 1px solid var(--border);
  border-radius: 0;
  padding: 0.5rem;
}
#header-search-button > span {
  display: block;
}
#header-search-input {
  font-size: 1.5rem;
  padding: 0.25rem 0.75rem;
  border-radius: 0;
}

.header-nav-link {
  color: var(--text);
  text-decoration: none;
  position: relative;
}

/* underlined with a pseudoelement to make it on the same level under the account icon and the text  */
.header-nav-link.active::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--text-muted);
}

.header-account-container {
  display: flex;
  align-items: center;
}