.set-display {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 0.5rem;
  margin: 1rem auto;
  padding: 0.75rem 1rem;
  width: min(50rem, 90vw);
  height: 10rem;
}
.set-display-name {
  margin: 0.5rem;
}
.set-display-creator-likes-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.set-display-creator {
  display: flex;
  align-items: center;
  font-size: min(1.25rem, 4vw);
}
.set-display-name-description-container {
  overflow: hidden;
  font-size: min(1.25rem, 4vw);
}
.set-display-like {
  display: flex;
  align-items: center;
  justify-content: end;
}
.set-display-date {
  margin: 0;
  margin-top: auto;
  display: flex;
  align-items: center;
  font-size: min(1.25rem, 3.5vw);
}