.set-display {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 1rem;
  margin: 1rem auto;
  padding: 0.75rem 1rem;
  width: min(50rem, 90vw);
  height: 10rem;
}
.set-display-name {
  margin: 0.5rem;
}
.set-display-creator-likes-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.set-display-name-description-container {
  overflow: hidden;
}
.set-display-like.liked {
  color: var(--color);
}
.set-display-date {
  margin: 0;
  margin-top: auto;
}