

.page-button-container {
  text-align: center;
  margin-top: auto;
}
.page-button-container > button {
  margin: 0 min(0.5rem, 2vw);
  margin-top: 1;
  padding: 0.5rem min(1rem, 3vw);
  font-size: min(1.25rem, 4vw);
}
.sets-display-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.sets-display-everything-container {
  min-height: calc(100vh - var(--header-height));
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.sets-display-nothing {
  margin-top: 3rem;
  text-align: center;
}
.sets-display-creator {
  text-align: center;
}
.sets-display-options span {
  font-size: 1.25rem;
}
.sets-display-options > div {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}
.sets-display-options {
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 2rem;
}