.page-button-container {
  text-align: center;
  margin-top: auto;
}
.page-button-container > button {
  margin: 1rem 0.5rem;
}
.sets-display-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - var(--header-height));
}
.sets-display-nothing {
  margin-top: 3rem;
  text-align: center;
}
.sets-display-creator {
  text-align: center;
}