.set-page-not-exist {
  text-align: center;
  margin-top: 2rem;
}
.set-page-name {
  text-align: center;
}
.set-page-description {
  text-align: center;
}
.set-page-container {
  width: min(800px, 90%);
  margin: auto;
  margin-top: 2rem;
  padding-bottom: 1.25rem;
}
.set-page-creator-container {
  margin: 0 auto;
  display: flex;
  column-gap: 1rem;
  justify-content: center;
}
.set-page-share-feedback {
  color: var(--success-color);
}
.set-page-play-container {
  margin: 2rem auto;
  display: flex;
  column-gap: 1rem;
  justify-content: center;
}
.set-page-creator {
  border: none;
}
.set-page-like-button.liked {
  background-color: var(--color-muted);
}
.set-page-info-container {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}