p {
  color: var(--text-muted);
}

button {
  border: 1px solid var(--border);
  border-top: 1px solid var(--highlight);
  background-color: var(--bg-light);
  color: var(--text);
  cursor: pointer;
  font-size: 1.25rem;
  padding: 0.5rem 1.5rem;
  transition: background-color 0.2s, color 0.2s, border 0.2s;
  border-radius: 0.5rem;
}
body.hasHover button:hover {
  background-color: var(--border);
}
button:disabled {
  color: var(--text-muted);
  pointer-events: none;
}
.primary-button {
  background-color: var(--color-bg);
  color: var(--color);
  border-color: var(--color);
}
body.hasHover .primary-button:hover {
  background-color: var(--color-muted);
}

.red-button {
  background-color: var(--error-bg);
  color: var(--error-color);
  border-color: var(--error-color);
}
body.hasHover .red-button:hover {
  background-color: var(--error-muted);
}

input {
  background-color: var(--bg-light);
  border: none;
  color: var(--text);
  padding: 0.75rem;
  border-radius: 5px;
  font-size: 1.25rem;
}
input:focus {
  outline: none;
}

body {
  margin: 0;
}

.container {
  background-color: var(--bg);
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 30px;
}
.input-container {
  display: grid;
  margin-top: 20px;
}
.input-container > span {
  text-align: left;
  color: var(--text-muted)
}
.link {
  color: var(--link-color);
}

.central-container {
  width: min(500px, 90%);
  margin: auto;
  margin-top: 20vh;
  padding-bottom: 1.25rem;
}

@media screen and (max-height: 900px) {
  .central-container {
    margin-top: 5vh;
  }
}

.error-text {
  color: var(--error-color);
  text-align: center;
}
.feedback-text{
  margin: 10px;
  visibility: hidden;
}
.feedback-text.visible {
  visibility: visible;
}

select {
  background-color: var(--bg);
  color: var(--text);
  font-size: 1.25rem;
  padding: 0.25rem;
  border: 1px solid var(--border);
  border-radius: 5px;
  padding: 0.25rem;
  cursor: pointer;
}
input[type="checkbox"] {
  appearance: none;
  background-color: var(--bg);
  border: 1px solid var(--border);
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  margin: 0;
  cursor: pointer;
}
input[type="checkbox"]::before {
  content: "✔";
  font-size: 1rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  align-content: center;
  opacity: 0;
  transition: opacity 0.15s;
}
input[type="checkbox"]:checked::before {
  opacity: 1;
}
