*{
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  --bg-dark: hsl(0, 0%, 5%);
  --bg: hsl(0, 0%, 10%);
  --bg-light: hsl(0, 0%, 15%);

  --text: hsl(0, 0%, 95%);
  --text-muted: hsl(0, 0%, 65%);

  --border: hsl(0, 0%, 30%);
  --highlight: hsl(0, 0%, 45%);
  --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));

  --color: hsl(171, 100%, 65%);
  --color-muted: hsl(171, 100%, 19%);
  --color-bg: hsl(170, 100%, 10%);

  --link-color: hsl(218, 100%, 65%);
  --error-color: hsl(0, 96%, 67%);
  --error-muted: hsl(0, 96%, 20%);
  --error-bg: hsl(0, 40%, 15%);
  --success-color: hsl(115, 100%, 68%);

  --header-height: 8rem;
  
  background-color: var(--bg-dark);
  color: var(--text)
}
@media (prefers-color-scheme: light) {
  :root {
    --bg-dark: hsl(0, 0%, 90%);
    --bg: hsl(0, 0%, 95%);
    --bg-light: hsl(0, 0%, 100%);

    --text: hsl(0, 0%, 5%);
    --text-muted: hsl(0, 0%, 35%);

    --border: hsl(0, 0%, 70%);
    --highlight: hsl(0, 0%, 75%);
    /*--gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));*/
    --color: hsl(171, 100%, 29%);
    --color-muted: hsl(171, 80%, 60%);
    --color-bg: hsl(171, 100%, 90%);

    --link-color: hsl(218, 100%, 35%);
    --error-color: hsl(0, 89%, 45%);
    --error-muted: hsl(0, 96%, 83%);
    --error-bg: hsl(0, 100%, 93%);
    --success-color: hsl(115, 100%, 30%);
  }
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }